body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;



}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  line-height: 2;
  width: 100%;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color:  #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 10px;

}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
p {
    line-height: 2;
}
hr{
  border: dotted #D0E8F2 6px ;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a {
  color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px ;
    text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #B5EAEA;
  position: relative;
  padding-top: 100px;
}

.middle-container {
margin: 100px 0;
}

.bottom-container {
background-color: #66bfbf;
padding: 50px 0 20px;
}
.pro{
  text-decoration: underline;
}
.intro{
  width: 30%;
  margin: auto;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px  0;
}
.skill-row {
  width: 50%;
  margin: 100px  auto 100px auto ;
  text-align: left;

}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.web-development{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.chicken-wings{
  width: 25%;
  float: right;
  margin-left: 30px;
}



.BUTTON_BUC {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   color: #FFFFFF;
   font-family:'Merriweather', serif;
   font-size: 19px;
   font-weight: 100;
   padding: 11px;
   -webkit-box-shadow: 0 1px 5px 0 #000000;
   -moz-box-shadow: 0 1px 5px 0 #000000;
   box-shadow: 0 1px 5px 0 #000000;
   text-shadow: 1px 0 0 #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_BUC:hover {
   border: solid #DD380D 0;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #C46C2B);
   background-image: -moz-linear-gradient(top, #30E3CB, #C46C2B);
   background-image: -ms-linear-gradient(top, #30E3CB, #C46C2B);
   background-image: -o-linear-gradient(top, #30E3CB, #C46C2B);
   background-image: -webkit-gradient(to bottom, #30E3CB, #C46C2B);
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   text-decoration: none;
}
